.banner-resto{
  background-position: center;
  color: black;
  text-align: center;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
}

.btn-cute{
  color: white;
  background: #2E6C7D;
  margin: 10px;
    &:hover{
      color:white;
      background: #0E2C40;
  }
}

.banner-inside{
  background:white;
  margin-left: 40px;
  border-radius: 5px;
  padding: 20px;
}

.fa-edit{
  font-size: 30px;
  color: #2E6C7D;
  margin-left: 20px;
    &:hover{
      color: #0E2C40;
  }
}


.banner-show-rest {
  height: 20vh;
  padding-bottom: 2px;
  margin-bottom: -50px;
}

.bannernew{
  height: 120vh;
  background-size: cover;
  margin-top: -25px;
}

.bannernew h1{
  color: white;
  margin-top: 20px;
  padding-top: 40px;

}
